{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <h2>Listing:{{listing.title}} </h2>
    <div> ID:{{listing.id}} </div>