{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    {% if no_listings_message %}
        <div class="alert alert-info" role="alert">
            <strong>{{ no_listings_message }}</strong>
        </div>
    {% else %}
        <h2>Your Watchlist</h2>

        <div class="row">
            {% for listing in watchlist_items %}
            <div class="col-lg-4 mb-4">
                <div class="card bg-light" style="width:95%">
                    <!-- Card Image -->
                    <div class="card-image">
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="img-fluid rounded-start" width="215" height="200" />
                    </div>

                    <!-- Card Body -->
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'auctions:auction_detail' listing.id %}">{{ listing.title }}</a>
                        </h4>
                        <p class="card-text">
                            <span tabindex="0" class="description-popover" data-toggle="popover" data-placement="right" data-content="{{ listing.description }}" title="Description">
                                Click to Read
                            </span>
                        </p>
                        <div class="row">
                            <div class="col">
                                Current Bid:
                                <h3 class="card-title"> ${{ listing.price }} </h3>
                            </div>
                            <div class="col">
                                <form method="post" action="{% url 'auctions:watchlist' listing.id %}">
                                    {% csrf_token %}
                                    {% if listing in watchlist_items %}
                                        <button type="submit" class="btn btn-warning btn-sm">Watching</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Watch this listing</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        Added on: {{ listing.created }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- Popover Initialization Script -->
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            html: true
        });
    });
</script>

{% endblock %}
